<a href="https://colab.research.google.com/github/cesar-flores/Actividad-1/blob/main/Semana3_Actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#César Flores Vivanco
A01173318

#Parte 1. Base de datos y almacen de datos

Una base de datos se define como un conjunto de datos almacenados que pueden guardarse en una computadora o en la nube para poder acceder a ellos. Existen diferentes  bases de datos, algunos de ellos pueden ser relacionales y los no relacionales. Las bases de datos relacionales están más estructuradas y organizadas que suelen ser en SQL, y las no relacionales suelen estar por clases. Entre ellas también se conocen como ETL (extraer, transformar y cargar) o ELT (extraer, cargar y transformar). La primera es más fácil y mejor por su estructura más controlada por las organizaciones, pero la segunda viene más de datos externos. Ambas bases de datos son importantes las cuales se tiene que ordenar para tener mayor análisis de datos. 


Un almacén de datos es un sistema de gestión de datos que permite habilitar y permitir actividades, el cual están destinados para consulta y análisis de grandes fuentes de datos históricos. También centraliza y consolida grandes cantidades de datos de múltiples fuentes que ayudan en la toma de decisiones. Los datos se organizan dentro de tablas o columnas las cuales cada columna contiene datos para después analizarlas y visualizarlas. Los almacenes de datos también puede ser desde la nube como de forma local, esto para facilitar su accesibilidad en ellas las cuales son muy útiles para los usuarios.

Referencias:

¿Qué es un almacenamiento de datos? | Conceptos clave | Amazon Web Services. (s. f.). Amazon Web Services, Inc. Recuperado 4 de octubre de 2022, de https://aws.amazon.com/es/data-warehouse/

What Is a Data Warehouse? (s. f.). Recuperado 4 de octubre de 2022, de https://www.oracle.com/database/what-is-a-data-warehouse/

Teate, R. M. P. (2021, agosto). SQL for Data Scientists : A Beginner’s Guide for Building Datasets for Analysis. Wiley. https://www.wiley.com/en-us/SQL+for+Data+Scientists%3A+A+Beginner%27s+Guide+for+Building+Datasets+for+Analysis-p-9781119669388

In [ ]:
input = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

#primero se importan los datos en pandas y se convierte en una variable pequeña "pd"
import pandas as pd
df = pd.read_csv(input) #se leen los datos que tiene el panda
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
'''para saber si la tabla tiene un error'''
df.isnull().values.any()

True

In [ ]:
''' para concer en que fila tiene errores'''
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [ ]:
#solucion 1: Descartar observaciones con valores faltantes

df.dropna(inplace = True) #dropna es la funcion de eliminar y inplace = true significa que es verdadero que no hay datos
df.isnull().values.any() #busca en las columnas si tienen datos completos o no
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

En este ejercicio denomino que los datos faltantes son "falta completamente al azar" o "MCAR" ya que comparando los resultados objetinos nos muestra que de las 30,000 filas solamente 42 datos estan incompletos, por lo tanto se tomarían como datos completamente aleatorios ya que es un resultado muy bajo. Además el sustituir los datos faltantes podría generar pequeños sesgos en los resultados. Por lo tanto la cantidad de población como tamaño muestra es la adecuada.

#Parte 3 

¿Qué datos considero mas importantes? 

Los datos descriptivos desde X1 a X6 ya que tienen información descriptiva de los usuarios

¿Por qué?
se pueden clasificar los datos por medio de edad, situacion civil, monto de prestamo, genero, educacion. Estos datos pueden ser agrupados para dar mejores resultados para estadisticas y correlaciones de datos. En este caso es una institución financiera que busca disminuir el riesgo de impago de deuda por sus cuenta habientes, por lo tanto buscaría saber cual es el nivel de riesgo que se puede incurrir con cada uno de ellos. Estos datos se les conocer datos cualitativos el cual se buscaría que relaciones tiene entre sí.


¿Se eliminaron o reemplazaron datos nulos? 

Se eliminaron

¿Qué se hizo y por qué?

primero se eliminaron los datos porque los niveles de errores son míminos y estadísticamente son aceptables. También el sustituir datos con valores numéricos podría generar pequeños sesgos a los resultados. Eso incluye a los que tienen valores en cero. Además son datos financieros que estan ligados a personas, por lo tanto sería un error querer sustituir valores en cada uno de ellos. 

¿Es necesario limpiar los datos para el análisis?
 Sí

¿Por qué?

La limpieza de datos nos ayudará a evaluar mejor los resultados que esperamos sin tener sesgos que ayudaran en las tomas de decisiones. Además de mejorar la visualización de datos y posibles interpretaciones estadísticas en caso que se requiera a futuro. Además tener una limpieza de datos ayuda a generar mayor uso de su interpretación y comparación de datos con relación a otros datos.


¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / 

Si

Por qué.

ya que algunos base de datos pueden tener diferentes datos o estructuras, el cual se tienen que analizar y estandarizar con python para que se pueda interpretar los datos y evitar tener errores a futuro

¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

Se eliminaron los datos vacios, el cual se interpretó como datos completamente atipicos aleatorios esto por error al agregar datos erroneos a la base de datos.